  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body{
      font-family: var(--font-jost);
  }
  :root {
    --primary-color: #7774f4;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #000000;
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
    --card-bg-color: #1a1a1a;
    --card-border-color: rgba(255, 255, 255, 0.2);
  }

  @media (min-width: 320px) {
    html {
      font-size: 11px;
    }
  }
  @media (min-width: 375px) {
    html {
      font-size: 14px;
    }
  }
  @media (min-width: 768px) {
    html {
      font-size: 9px;
    }
  }
  @media (min-width: 1024px) {
    html {
      font-size: 12px;
    }
  }
  @media (min-width: 1280px) {
    html {
      font-size: 16px;
    }
  }
  @media (min-width: 1650px) {
    html {
      font-size: 20px;
    }
  }

  @media (min-width: 2560px) {
    html {
      font-size: 28px;
    }
  }
  @media (min-width: 3840px) {
    html {
      font-size: 40px;
    }
  }
  @media (min-width: 5120px) {
    html {
      font-size: 56px;
    }
    body {
      max-width: 5120px;
      margin: auto;
    }
  }

